In [43]:
#1
n = eval(input("Circle radius: "))
a = 3.14 * (n**2)
print ("Circle area: ", a)

Circle area:  28.26

In [44]:
#2
first = input("First name: ")
last = input("Last name: ")
print("Hello " + last + " " + first)

Hello b a

In [45]:
#3
color_list = ["Red","Green","White","Black"]
print(color_list[0],color_list[-1])

Red Black

In [1]:
#4
a = int(input("An integer : "))
n1 = int( a )
n2 = int( a*11)
n3 = int( a*111 )
print (n1+n2+n3)

369

In [ ]:
#5
pi = 3.14
r= 6
v= (4.0/3.0*pi)* (r**3)
print("Sphere volume: ",v)

Sphere volume:  904.3199999999999

In [2]:
#6
n = int(input("An integer: "))
if (n <= 17):
    print(17 - n)
else:
    print((n - 17)*2)

10

In [ ]:
#6 but no input
def count(n):
    if (n <= 17):
        return 17 - n
    else:
        return (n - 17) * 2 

print(count(31))
print(count(9))

28
8

In [ ]:
#7
def count(x, y, z):
    sum = x + y + z
  
    if x == y == z:
        sum = sum * 3
    return sum

print(count(13, 14, 15))
print(count(5, 5, 5))

42
45

In [3]:
#8
n = int(input("Enter an integer: "))
n2 = n % 2
if n2 > 0:
    print("It's an odd number.")
else:
    print("It's an even number.")

It's an odd number.

In [ ]:
#9
i = input("Input a letter: ").upper()
vowel = {'A', 'E', 'I', 'O', 'U'}
for n in i:
	if n in vowel:
		print("It's a vowel letter.")
	else:
		print("It's not a vowel letter.")

It's not a vowel letter.

In [17]:
#11
i = [8, 2, 7, 6]
for n in i:
    output = ''
    times = n
    while( times > 0 ):
        output += '*'
        times = times - 1
    print(output)

********
**
*******
******

In [ ]:
#10
i = 3 #change the value to test
group = {1, 2, 3, 4, 5}
if i in group:
    print(i, " is in the group data")
else:
    print(i, " is not in the group data")

3  is in the group data

In [ ]:
#12
numbers = [ 
 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
 958,743, 527 ]

for i in numbers:
    if i % 2 == 0:
        print(i)

386
462
418
344
236
566
978
328
162
758
918
412
566
826
248
866
950
626
104
58
512
24
892
894
742
958

In [ ]:
#13
b = eval(input("Base of the triangle: "))
h = eval(input("Height of the triangle"))
a = b * (h/2)

print("Triangle are: ",a)

Triangle are:  400.0

In [1]:
#14
x = 12
y = 16
if x > y:
    z = x
else:
    z = y
while(True):
    if((z % x == 0) and (z % y == 0)):
        break
    z += 1
print(z)

48

In [ ]:
#15
x = 1
y = 1
z = 2
if x == y or y == z or x==z:
    sum = 0
else:
    sum = x + y + z
print(sum)

0

In [ ]:
#16
x = 4
y = 3

print("(4 + 3 ) ^ 2 = ", (x+y)*(x+y))

(4 + 3 ) ^ 2 =  49

In [ ]:
#17
a = 10000
i = 3.5
y = 7
future_value = "{:.2f}".format(a*((1+(0.01*i)) ** y))
print((future_value))

12722.79

In [ ]:
#18
import math
i = [1, 2]
j = [3, 4]
distance = math.sqrt( ((i[0]-j[0])**2)+((i[1]-j[1])**2) )

print(distance)

2.8284271247461903

In [ ]:
#19
n = eval(input("Input a number: "))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print("Sum of the first", n ,"integers is", sum)

Sum of the first 2 integers is 3

In [11]:
#20
i = float(input("Feet: "))
j = float(input("Inches: "))

j = j+(i * 12)
k = (j * 2.54)
k = "{:.2f}".format(k)

print("Your height is :",k  ,"cm.")

Input your height:
Your height is : 170.18 cm.

In [21]:
#21
from math import sqrt
a = eval(input("shorter side a: "))
b = eval(input("shorter side b: "))
c = sqrt(a**2 + b**2)
c = "{:.0f}".format(c)
print("The hypotenuse's length is:", c )

2 lengths of the triangle's shorter sides:
The hypotenuse's length is: 19.10

In [32]:
#22
i = float(input("Height (Feet): "))
j = float(input("Weight (kg): "))
k = j / (i * i)
k = "{:.2f}".format(k)
print("BMI: ", k)

BMI:  1.81

In [36]:
#23
x1 = float(input("x1: "))
y1 = float(input("y1: "))

x2 = float(input("x2: "))
y2 = float(input("y2: "))

z1 = "{:.1f}".format((x1 + x2)/2)
z2 = "{:.1f}".format((y1 + y2)/2)
print( "x's midpoint: ",z1)
print( "y's midpoint: ",z2)

x's midpoint:  3.0
y's midpoint:  3.0

In [48]:
#24
l=[]
for x in range(1500, 3201):
    if (x%7==0) and (x%5!=0):
        l.append(str(x))
print(','.join(l))

1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199